exclude .gitignore
exclude .idea
include README.rst
include LICENSE.txt
include CODE_OF_CONDUCT.md
include setup.cfg
prune .cache
prune .git
prune build
prune dist
prune tests
recursive-exclude *.egg-info *