[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
"pytest-runner" = "*"
"pytest-cov" = "*"
"setuptools-markdown" = "*"
sphinx = "*"
"sphinx-autobuild" = "*"


[packages]
configobj = "*"
future = "*"




[requires]

python_version = "2.7"